*.zip
*.ckpt*
*.egg*
*.csv
*.npz
*.npy
build
dist
*.dump
db/credentials.py
config.py
checkpoint
circuits_BSDS_*
exc_perturbs*
inh_perturbs*
datasets/circuit_contrast*
datasets/gilbert*
datasets/circuit_circuit*
circuits_circuit*
__pycache*
linear_moments
linear_models
cabc_images
*.pyc
